<nav class="navbar navbar-expand-lg navbar-light bg-danger">
  <div class="container-fluid">
    <div class="dropdown">
  <button class="btn btn-danger dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" style="color: black;">
    {{user.ShopName}}
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li><a class="dropdown-item" href="/logout">Logout</a></li>
   
  </ul>
</div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/mechHome">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/serviceBook/{{user.email}}">Booking Deatils</a>
        </li>
        <li class="nav-item">
                    <a class="nav-link" href="/addPolicy">Policy Registration</a>
        </li>
         <li class="nav-item">
                    <a class="nav-link" href="/myPolicy">Policy</a>
        </li>
        
      </ul>
    </div>
  </div>
</nav>